@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  body {
    width: 90%;
    border: 0px 2px;
    border-color: gray;
  }
}

@media only screen and (min-width: 993px) {
  body {
    width: 70%;
    border: 0px 2px;
    border-color: gray;
  }
}