:root {
  --bg-main: #1A1A1A;
  /* --bg-alt: #1e1e1e; */
  --text-main: #EAEAEA;
  /* --text-muted: #aaaaaa; */
  /* --border: #333333; */
  /* --accent: #f2f2f2; */
}


/* Hide scrollbars but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}