// Color theme
$text: rgb(243, 242, 247);
$background: rgb(3, 3, 7);
$primary: rgb(91, 75, 160);
$secondary: rgb(56, 44, 104);
$accent: rgb(74, 56, 148);

// Gradients
$linearPrimarySecondary: linear-gradient(rgb(91, 75, 160), rgb(56, 44, 104));
$linearPrimaryAccent: linear-gradient(rgb(91, 75, 160), rgb(74, 56, 148));
$linearSecondaryAccent: linear-gradient(rgb(56, 44, 104), rgb(74, 56, 148));
$radialPrimarySecondary: radial-gradient(rgb(91, 75, 160), rgb(56, 44, 104));
$radialPrimaryAccent: radial-gradient(rgb(91, 75, 160), rgb(74, 56, 148));
$radialSecondaryAccent: radial-gradient(rgb(56, 44, 104), rgb(74, 56, 148));

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;

  visibility:hidden;
}

.box {
  width: 70px;
  height: 70px;
  background-color: black;
}